### FEI and S&P+ Web Scraper

In [13]:
### cloest_fei_dictionary(team, closest n teams, past k years):
### return dictionary: key:team, value: list of year or years if same team closest in past k

In [18]:
import pandas as pd
import numpy as np
import urllib.request
from bs4 import BeautifulSoup
from collections import Counter
import csv
import re

In [19]:
def extract_team_name(x):
    match = re.search('\>(.*)\<', x)
    if match:
        found = match.group(1)
    return found

def extract_def_fei(x):
    match = re.search('\>(.*)\<', x)
    if match:
        found = match.group(1)
    return found

def extract_def_sp(x):
    match = re.search('[0-9]*\.[0-9]*', x)
    if match:
        found = match.group(0)
    return found

In [20]:
teams = []
defsp = []
year = []

for i in np.arange(2014, 2018):

    url = "https://www.footballoutsiders.com/stats/ncaadef" + str(i)
    page = urllib.request.urlopen(url).read()
    soup = BeautifulSoup(page)
    
    raw_team_name = []
    raw_all_def_sp = []

    for tr in soup.find_all('tr')[1:]:
        tds = tr.find_all('td')
        team = tds[0]
        def_sp = tds[1]
        raw_team_name.append(team)
        raw_all_def_sp.append(def_sp)
    
    raw_str_team_name = [str(x) for x in raw_team_name]
    raw_str_def_sp = [str(x) for x in raw_all_def_sp]

    teams.append([extract_team_name(x) for x in raw_str_team_name])
    defsp.append([extract_def_sp(x) for x in raw_str_def_sp])
    year.append([i]*len(raw_str_team_name))
    
teams = sum(teams, [])
defsp = sum(defsp, [])
year = sum(year, [])

s_and_p_data = pd.DataFrame({'Team' : teams, 'Def. S&P+' : defsp, 'Year' : year})
drop = s_and_p_data.iloc[:, 0] == "."
s_and_p_data = s_and_p_data[~drop]
s_and_p_data["Def. S&P+"] = [float(x) for x in s_and_p_data["Def. S&P+"]]
s_and_p_data = s_and_p_data.sort_values("Def. S&P+").drop_duplicates()

In [21]:
s_and_p_data.head()

     Def. S&P+      Team  Year
663        5.9   Alabama  2016
531        7.7  Michigan  2016
398        9.0   Alabama  2015
134       12.2  Ole Miss  2014
133       12.2   Clemson  2014

In [82]:
def n_closest_def_sp(team_sp, n):
    closest_data = s_and_p_data.iloc[(s_and_p_data["Def. S&P+"] - team_sp).abs().argsort()[:n]]
    percent_diff = (abs(np.array(closest_data.loc[:, "Def. S&P+"]) - team_sp)/team_sp)*100
    keys = closest_data.Team
    values = closest_data.Year
    return list(zip(keys, values, percent_diff))

In [83]:
n_closest_def_sp(13, 10)

[('Florida', 2016, 2.3076923076923128),
 ('LSU', 2016, 3.0769230769230793),
 ('Boston College', 2015, 4.6153846153846132),
 ('Michigan', 2015, 4.6153846153846132),
 ('Ohio State', 2016, 4.6153846153846132),
 ('Ole Miss', 2014, 6.1538461538461586),
 ('Clemson', 2014, 6.1538461538461586),
 ('Clemson', 2016, 6.1538461538461586),
 ('Alabama', 2017, 6.1538461538461586),
 ('Clemson', 2017, 6.923076923076926)]

In [8]:
### return list of tuples instead of dictionary:
    ### easier to iterate over
    ### sorted by closest match no alaphabetical

In [9]:
teams = []
dfei = []
year = []


for i in np.arange(2017, 2018):

    url = "https://www.footballoutsiders.com/stats/feidef" + str(i)
    page = urllib.request.urlopen(url).read()
    soup = BeautifulSoup(page)
    
    raw_team_name = []
    raw_all_def_fei = []

    for tr in soup.find_all('tr')[1:]:
        tds = tr.find_all('td')
        team = tds[1]
        def_fei = tds[3]
        raw_team_name.append(team)
        raw_all_def_fei.append(def_fei)
    
    raw_str_team_name = [str(x) for x in raw_team_name]
    raw_str_def_fei = [str(x) for x in raw_all_def_fei]

    teams.append([extract_team_name(x) for x in raw_str_team_name])
    dfei.append([extract_def_fei(x) for x in raw_str_def_fei])
    year.append([i]*len(raw_str_team_name))
    
teams = sum(teams, [])
dfei = sum(dfei, [])
year = sum(year, [])

pd.DataFrame({'Team' : teams, 'DFEI' : dfei, 'Year' : year})

            DFEI                 Team  Year
0            .83              Clemson  2017
1            .88              Alabama  2017
2            .93            Wisconsin  2017
3            .95               Auburn  2017
4            .98              Georgia  2017
5           1.17                Texas  2017
6           1.24           Ohio State  2017
7           1.37    Mississippi State  2017
8           1.37             Michigan  2017
9           1.37           Washington  2017
10          1.41        Virginia Tech  2017
11          1.44           Penn State  2017
12          1.45                 Iowa  2017
13          1.48                Miami  2017
14          1.50      Central Florida  2017
15   <b>DFEI</b>          <b>Team</b>  2017
16          1.51       Boston College  2017
17          1.55     Washington State  2017
18          1.56                  TCU  2017
19          1.56              Wyoming  2017
20          1.57           Notre Dame  2017
21          1.60        Florida State  2017
22          1.62               Purdue  2017
23          1.62    Appalachian State  2017
24          1.63              Houston  2017
25          1.64       Michigan State  2017
26          1.65    Northern Illinois  2017
27          1.65         Northwestern  2017
28          1.71                 Troy  2017
29          1.72                 Utah  2017
..           ...                  ...   ...
108         2.76     Georgia Southern  2017
109         2.80               Nevada  2017
110         2.84                  SMU  2017
111  <b>DFEI</b>          <b>Team</b>  2017
112         2.84             Maryland  2017
113         2.85                 Army  2017
114         2.85       Colorado State  2017
115         2.85          North Texas  2017
116         2.86           New Mexico  2017
117         2.87             Nebraska  2017
118         2.92                 UNLV  2017
119         2.93              Arizona  2017
120         2.99           Cincinnati  2017
121         3.03             Arkansas  2017
122         3.04  Louisiana Lafayette  2017
123         3.05            Charlotte  2017
124         3.06                Tulsa  2017
125         3.11        Bowling Green  2017
126         3.13            Air Force  2017
127  <b>DFEI</b>          <b>Team</b>  2017
128         3.16                 UTEP  2017
129         3.17          Connecticut  2017
130         3.31           Ball State  2017
131         3.38               Kansas  2017
132         3.51       San Jose State  2017
133         3.51     Louisiana Monroe  2017
134         3.60                 Rice  2017
135         3.64         Oregon State  2017
136         3.78               Hawaii  2017
137         3.88        East Carolina  2017

[138 rows x 3 columns]

In [10]:
def_fei_data = []

for x in np.arange(2017, 2018):
    url = "https://www.footballoutsiders.com/stats/feidef" + str(x)
    page = urllib.request.urlopen(url).read()
    soup = BeautifulSoup(page)
    
    team_name = []
    all_def_fei = []

    for tr in soup.find_all('tr')[1:]:
        tds = tr.find_all('td')
        team = tds[1]
        def_fei = tds[3]
        team_name.append(team)
        all_def_fei.append(def_fei)
    
    def_fei_data.append("")

In [11]:
[str(x) for x in def_fei_data[0]]

[]

In [12]:
r""

''